<h1> WackyWil </h1>

<h2> All Items </h1>
<% if @items.count == 0 %>
	There are no items <br>
	<button class="button"><%= link_to 'Add Item',  new_item_path %> </button>
<% else %>
	<table border="1">
		<thead>
			<tr>
				<th>Item</th>
				<th>Price</th>
				<th>Quantity</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @items.each do |i| %>
			<tr>
				<td><%= i.name %></td>
				<td><%= i.price %></td>
				<td><%= i.quantity %></td>
				<td><%= link_to 'See More', i %></td>
				<td><%= link_to 'Edit', edit_item_path(i) %></td>
				<td><%= link_to 'Delete', i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
			<tr>
				<td><%= link_to 'Add Item',  new_item_path %></td>
			</tr>
		</tbody>
	</table>
<% end %>