<h1> <%= link_to 'WackyWil', root_url %> </h1>

<div>
	<h2><%= @item.name %></h2>
	<table border="1">
		<thead>
			<tr>
				<th> Price </th>
				<th> Description </th>
				<th> Quantity </th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> Php <%= @item.price %> </td>
				<td> <%= @item.description %> </td>
				<td> <%= @item.quantity %> </td>
				<td> <%= link_to 'Edit', edit_item_path(@item) %> </td>
				<td> <%= link_to 'Delete', @item, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
			</tr>
		</tbody>
	</table>
</div>

