<h1> <%= link_to 'WackyWil', root_url %> </h1>

<div>
	<h2><%= @item.name %></h2>
	<h3>Php <%= print_money(@item) %> </h3>
	<div class="block" id="border" >
		 <%= @item.description %>
	</div>
	<div class="block">
		Quantity in Stock: <%= @item.quantity %>
	</div>

	<button class="button"> <%= link_to 'Edit', edit_item_path(@item) %> </button> 
	<button class="button"> <%= link_to 'Delete', @item, method: :delete, data: { confirm: 'Are you sure?' } %> </button> 
</div>

